version: "3.8"
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app   # Mount local app folder
    environment:
      - FLASK_APP=app:create_app
      - FLASK_ENV=development
    command: flask run --host=0.0.0.0